@font-face {
    font-family: PingFang SC;
    font-weight: 400;
    src: url('./fonts/PingFangSC-Mod-18.d1-Regular.woff');
}
@font-face {
    font-family: PingFang SC;
    font-weight: 500;
    src: url('./fonts/PingFangSC-Mod-18.d1-Medium.woff');
}
@font-face {
    font-family: PingFang SC;
    font-weight: 600;
    src: url('./fonts/PingFangSC-Mod-18.d1-Semibold.woff');
}

@font-face {
    font-family: SF Pro Text;
    font-weight: 400;
    src: url('./fonts/SF-Pro-Text-Regular.woff');
}
@font-face {
    font-family: SF Pro Text;
    font-weight: 500;
    src: url('./fonts/SF-Pro-Text-Medium.woff');
}
@font-face {
    font-family: SF Pro Text;
    font-weight: 600;
    src: url('./fonts/SF-Pro-Text-Semibold.woff');
}


body, div, p, h1, h2, h3 {
    font-family: -apple-system, SF Pro Text, PingFang SC, sans-serif;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}